img {
    width: 100%;
    height: 147px;
}

.texto-secundario {
    width: 247px;
    height: auto;
    padding: 10px;
    border: 0px solid #000;
    word-wrap: break-word;
    text-align: left;
    float: left;
}

.texto-secundario > h1 {
    font-size: 24px;
}

.texto-secundario > p {
    font-size: 17px;
}
